@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


* {
    background-color: #222831;
    color: white;
}


.mainHeader {
    color: #cb3737;
    font-size: 5rem;
    text-align: center;
    margin-top: 0.2rem;
    margin-bottom: 0;


    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    
}

.tasks {
    background-color: #cb3737;
    margin-top: 0;

}

.Existing {
    margin-bottom: -1rem;
}

.addTask {
    background-color: #393e46;
    padding: 1rem;
    padding-bottom: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10%;
    width: 100%;
    height: 120px;
    overflow: visible;

}


.mainContainer {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 0;

}

.react-datepicker__input-container {
    background-color: #393e46;
}

input {
    background-color: whitesmoke;
    color: black;
    padding: 2%;
    width: 95%;
    font-size: medium;
    border-radius: 25px;
}

h2, #addtask{
    background-color: #393e46;
    margin-top: 0.2rem;
}




form {
   
    background-color: #393e46;
}

.submitTask {

    font-size: medium;
    cursor: pointer;
    outline: 0;
    top:8.5rem;
    right: 30px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: #cb3737;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: white;
    border-color: black;
    width: 40px;

    position: absolute;
    display: inline-block;

    

}

li {
    list-style: none;
}


.taskTitle {
    background-color: rgb(169, 169, 169);
    color: black;
    margin-bottom: 0;
    position: relative;
    left: 1rem;
    font-weight: bold;
    font-size: 2rem;
    top: 10%;
    width: 85%;

}

.item {
    background-color: rgb(169, 169, 169);
    width: 100%;
    margin-bottom: 5%;

}

.date {
    background-color: rgb(169, 169, 169);
    color: black;
    position: relative;
    left: -3.5rem;
    width: 98%;
    display: inline-block;
    width:fit-content

}


.deleteButton {
    width: 30px;
    height: 30px;
    padding: 0;
    z-index: 1;
    font-size: 100%;
    background-color: #cb3737;
    color: black;
    border-radius: 10%;
    cursor: pointer;
    float: right;
    position: relative;
    top: 0rem;
    right: 1rem;

}

.statusHeading {
    background-color: rgb(169, 169, 169);
    color: black;
    display: inline-block;
    position: relative;
    left: 73%;
    bottom: -10%;
    z-index: 1;
}



h2, p, input, button {
    font-family: sans-serif;
  }

  .logo {
    width: 100px;
    height: 100px;
  }

  .logo-header {
    text-align: center; /* Center content within this container */
  }

.logo,
.mainHeader {
  display: inline-block; /* Align elements side by side */
  vertical-align: middle; /* Align elements vertically */
}




  .react-datepicker__week {
    background-color: white; /* Ensure the week background is white */
  }

  .react-datepicker__day {
    background-color: white;

    
  }

  .react-datepicker__current-month {
    background-color: white;
  }

  .react-datepicker__header__dropdown {
    background-color: white;
  }

  .react-datepicker__year-read-view--selected-year {
    background-color: white;
    color: black;
  }

  .react-datepicker__day-names {
    background-color: white;
  }

  .react-datepicker__day-name {
    background-color: white;
  }

  .react-datepicker__month-container {
    background-color: white;

  }

.react-datepicker__year-option {
    background-color: lightgray;
    color: black;
}

.react-datepicker__year-option--selected {
    background-color: lightgrey;
    color: black;
}


  .datePickerDiv {
    display: inline-block;
    position: relative;
    top: 2rem;
  }

  .dueDate {
    background-color: rgb(169, 169, 169);
    display: inline-block;
    color: black;

  }